body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}
canvas{
    transition: 1s;
    position: absolute;
    z-index: -1;
}
#gameTable td{
    background-color: rgba(126,206,253,0.5);
    border-radius: 10px;
    border: 2px solid #2185C5;
    
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 4rem;
    cursor:pointer;
}
#gameSpace{
    width: 60%;
    padding-bottom: 10px;
    margin: 15px auto 0px;
    transition: 1s;
    background-color: white;
    border: 3px solid #2185C5;
    border-radius: 6px;
}
#result{
    text-align: center;
    display:none;
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 200px;
    border: 2px solid #2185C5;
    background-color: rgb(126,206,253);
    border-radius: 10px;
    margin: auto;
    animation: drop 1s linear forwards;
}

#result h2{
    margin-top: 50px;
}
#close{
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    background-color: #3797a4;
    border: 0px;
}
#close:hover{
    color: #3797a4;
    background-color: white;
    border: 1px solid #3797a4;
}
@keyframes drop{
    0% {top: -100%}
    100%{top:50%}
}
